.v-container .image-container {
  border: 8px solid rgb(232 232 232 / 93%);
}
.v-wrapper {
  background-color: white;
}
.v-container > div {
  flex: 1;
}
.v-right {
  gap: 0.5rem;
}

.mts {
  margin-top: 20px;
}
@media (max-width: 900px) {
  .v-container {
    flex-direction: column;
    width: 100%;
  }
}
