body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#cartMainContainer
{
    padding: 90px 50px;
}
#cartContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px)
{
    h3
    {
        font-size: 14px;
    }
    #cartMainContainer
    {
        padding: 90px 20px;
    }
}
@media(max-width: 555px)
{
    #cartContainer
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}